body {
    background-color: rgb(200, 200, 200);
    font-size: 15px;
    color: black;
}
table {
    border: 4px ridge rgb(78, 78, 78);
    gap:3%;
}
caption { 
    text-align: center;
    font-size: 30px;
}
th {
    border: 4px ridge rgb(78, 78, 78);
}

td {
    border: 4px ridge rgb(78, 78, 78);
    text-align: center;
}
.czerwony{
    color: red;
}
